<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x="0" y="-1085"/>
    <santa_flip_offset value="-40"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music> 
      <folder>audio/music/</folder>
    </music>
   <sfx> 
      <folder>audio/fx/</folder>
    </sfx>
  </audio>

  <map>
    <folder>maps/</folder>
  </map>
  <player>
    <folder>textures/</folder>
    <texture_offset x="56" y="8"/>
    <slide_offset x="36" y="43"/>
  </player>
  <Entities>
    <folder>textures/</folder>
    <texture_offset x="56" y="8"/>
    <slide_offset x="36" y="43"/>
  </Entities>
  <scene>
    <map_name name="Santa's delivering.tmx"/>
    <player_sprite name="santa_animations.tmx"/>
  </scene>

</config>